[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone43.cfg

[versions]
six = 1.12.0
path.py = 11.1.0

# Added by buildout at 2021-06-28 11:17:14.773349
createcoverage = 1.5
ftw.builder = 2.0.0
pathtools = 0.1.2
pkginfo = 1.7.0

# Required by:
# transmogrify.dexterity==1.6.5.dev0
collective.transmogrifier = 1.5.2

# Required by:
# zest.releaser==6.13.5
colorama = 0.4.4

# Required by:
# transmogrify.dexterity==1.6.5.dev0
plone.app.transmogrifier = 1.4.2
